.profileInfo_wrapper {
  .userPhoto_block {
    background-image: url("../../assets/Javascript.png");
    min-height: 250px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
    box-sizing: border-box;

    .userPhoto {
      border: 8px solid white;
      border-radius: 50%;
      width: 150px;
      margin-bottom: -20px;
    }

    .ownerPhoto {
      cursor: pointer;
    }
  }

  .profileInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 0 50px 0;

    .userName_container {
      box-sizing: border-box;
      width: 40%;
      padding-left: 30px;
      text-align: left;

      .userName {
        //padding-left: 30px ;
        color: #27aae1;
        font-size: 2rem;
        //font-weight: bold;
      }

      .buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      button {
        outline: none;
        margin-top: 20px;
        margin-right: 10px;
        background: #27aae1;
        padding: 10px 10px;
        font-weight: 600;
        color: white;
        border-radius: 30px;
        border: 0;
        cursor: pointer;
        white-space: nowrap;
      }

      button:hover {
        background: #149AC9;
        transition: all 1s;
      }

      button:disabled {
        background: #9a9b9e;
      }
    }

    .userName {
    }
  }

  .error {
    color: mediumvioletred;
  }

}
@media (max-width: 860px){
  .userPhoto_block{
    width: 100vw !important;
    margin-left: -30px;
  }

}

@media (max-width: 860px) and(min-width: 620px){

  .userName_container{
    padding-left: 10px !important;
  }

}
@media (max-width: 360px){

  .userName_container{
    padding-left: 10px !important;
  }

}

@media (max-width: 620px) {
  .profileInfo{
    flex-direction: column !important;
    padding-right: 25px !important;
    .userName{
      text-align: center;
    }
  }
  .userPhoto_block{
    padding: 0 !important;
    justify-content: center;
  }
  .userName_container{
    align-self: center;
    padding-left: 0 !important;
    margin-left: -30px;
    .buttons{
      justify-content: center !important;
    }
    .buttons button:nth-child(2){
      margin-right: 0 !important;
    }
  }

}
@media (max-width: 480px) {
  .userPhoto_block{
    margin: 0;
  }
  .profileInfo{
    padding-left: 20px !important;
  }
  .userName_container{
    //align-self: flex-start;
    //margin-left: 0;
  }
}
@media (max-width: 400px) {
  .userPhoto_block{
    margin: 0;
  }

}
