.categories{
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  &_category{
    box-sizing: border-box;
    flex: 1;
    cursor: pointer;
    padding: 15px 5px;
    background-size: cover;
    color: white;
    font-size: 1.2rem;
    //font-weight: bold;
    position: relative;
    z-index: 2;
  }
  &_category:hover{
    color:#27aae1;
    transition: all 1s;
    background-position: center center;
  }
  &_category::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.6;
    left: 0;
    top: 0;
    z-index: -1;
    background: #17222B;
  }

  .business{
    background-image: url('../../assets/categories/business.jpg');
  }
  .entertaiment{
    background-image: url('../../assets/categories/entertaiment.jpg');
  }
  .science{
    background-image: url('../../assets/categories/science.jpg');
  }
  .sport{
    background-image: url('../../assets/categories/sport.jpg');
  }
  .technology{
    background-image: url('../../assets/categories/techology.jpg');
  }
  .all{
    background-image: url('../../assets/categories/news.jpg');
  }
}

@media (max-width: 570px) {
  .categories_category{
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
 .categories{
   flex-wrap: wrap;
   &_category{
     flex-basis: 33.3333%;
   }
 }
}

