.music_wrapper{
margin-top: 40px;
}



//==========================


.music{
  width: 100%;
  .category_header{
    text-align: left;
    width: 100%;
  }


}
.podcast_description{
  display: none;
}

