.profileDescription {
  flex: 1;
  color: #6d6e71;
  margin-left: 0;
.about_wrapper{
  margin-left: 1vw;
}
  .about {
    padding-top: 10px;
    font-size: 1.1rem;

    &_item {
      padding-bottom: 10px;
    }
  }

  .about_header {
    color: #27aae1;
    font-weight: bold;
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(183, 184, 184, 0.55);
  }

  .editProfile_btn{
    margin-top: 20px;
    background: #27aae1;
    padding: 15px 30px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
  }
  .editProfile_btn:hover{
    background: #149AC9;
    transition: all 1s;
  }
}
@media (max-width: 850px) {
  .profileDescription{
    margin-top: 4vw;
  }
}

@media (max-width: 620px)  {
  .profileDescription button.editProfile_btn{
    display: block;
    width: 50%;
    margin: 20px auto;
  }
}